---
import Layout from "../layouts/Layout.astro";
import ProfileCheck from "../components/icons/ProfileCheck.astro";
import Experience from "../components/Experience.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Projects from "../components/Projects.astro";
import AboutMe from "../components/AboutMe.astro";
import CodeIcon from "../components/icons/Code.astro";
import Hero from "../components/Hero.astro";
import ContactIcon from "../components/icons/Contact.astro";
import { ContactForm } from "../components/ContactForm";
---

<Layout
  title="Guillermo Cano's Portfolio  - Web and Mobile JavaScript Developer"
  description="Looking for an experienced web developer to create unique applications? Guillermo Torrez offers customized solutions with innovative design and exceptional functionality. Whether you need a web or mobile app, Guillermo has the skills to elevate your project. Don’t miss the chance to work with a professional dedicated to outstanding digital experiences."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>
  </main>

  <div class="space-y-24">
    <div class="space-y-24">
      <SectionContainer id="experience">
        <h2
          class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
        >
          <Briefcase class="size-8" />
          Work Experience
        </h2>
        <Experience />
      </SectionContainer>

      <SectionContainer id="proyects">
        <h2
          class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
        >
          <CodeIcon class="size-8" />
          Projects
        </h2>
        <Projects />
      </SectionContainer>

      <SectionContainer id="about-me">
        <h2
          class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
        >
          <ProfileCheck class="size-8" />
          About me
        </h2>
        <AboutMe />
      </SectionContainer>

      <SectionContainer id="contact">
        <h2
          class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
        >
          <ContactIcon class="size-8" />

          Contact
        </h2>
        <ContactForm client:visible/>
      </SectionContainer>
    </div>
  </div>
</Layout>
