---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "2023",
    title: "Frontend and Backend",
    company: "GKS Group ",
    description:
      "Responsible for the platform, components, and utilities for the creation and development of web applications.",
    link: "https://gtechcelerity.ca",
    flag: "/EEUU.png",
  },
  {
    date: "2017 - 2019",
    title: "JavaScript Developer",
    company: "POLLO ESTRELLA",
    description:
      "Tasked with building and maintaining the platform, components, and tools essential for developing and creating web applications.",
    flag: "/NICARAGUA.png",
  },
  {
    date: "2007 - 2017",
    title: "Frontend JavaScript",
    company: "INGASA ",
    description:
      "In charge of designing, implementing, and managing the systems, modules, and utilities needed for web application development.",
    flag: "/NICARAGUA.png",
  },
];
---

<ol class="space-y-6 sm:space-y-0 sm:flex sm:space-x-6">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="relative mb-6 sm:mb-0">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>